<!DOCTYPE html>
<% Object.values(urls).forEach(function(value) { %>
    <% if (value.toolModelId && value.toolModelId !== "") { %>
        <div class="hidden-xs pull-left" id="<%=value.toolModelId %>-footerlink"> <%=value.bezeichnung %>&nbsp;<a href="#" role="button"><%=value.alias %></a></div>
        <div class="visible-xs pull-left" id="<%=value.toolModelId %>-footerlink-mobile"> <%=value.bezeichnung %>&nbsp;<a href="#" role="button"><%=value.alias_mobil %></a></div>
    <% } else { %>
        <div class="hidden-xs pull-left"> <%=value.bezeichnung %>&nbsp;<a href=<%=value.url %> target="_blank"><%=value.alias %></a></div>
        <div class="visible-xs pull-left"> <%=value.bezeichnung %>&nbsp;<a href=<%=value.url %> target="_blank"><%=value.alias_mobil %></a></div>
    <% } %>
    <span class="glyphicon glyphicon-option-vertical pull-left hidden-xs"></span>
<%}) %>

<% if (showVersion) { %>
    <div class="hidden-xs pull-left"> <%=versionText%> <%=masterPortalVersionNumber %></div>
    <span class="glyphicon glyphicon-option-vertical pull-left hidden-xs"></span>
<% } %>
