<div id="mini-map" class="table-tool">
	<a href="#">
		<span class="glyphicon glyphicon-globe"></span>
		<span id="mini-map_title"><% if(isInitOpen === true) {print (hideOverviewTableText);} else {print (showOverviewTableText);} %></span>
	</a>
</div>